th {
  background-color: rgb(30, 107, 215);
}

h2 {
  color: rgb(30, 107, 215);
}

td a.showOrderDetails {
  background-color: rgb(26, 73, 139);
  color: white;
}

td a.showOrderDetails:hover {
  background-color: rgb(19, 105, 225);
  color: white;
}

#closeFrame {
  color: rgb(19, 105, 225);
}

h1 {
  color: rgb(19, 105, 225);
}

/*  Table to shown in shown Details read. */

#form-table {
  width: 60%;
  background-color: white;
}
#form-table td {
  padding: 5px;
  background-color: whitesmoke;
  border-bottom: none;
}
