<body>
  <!-- Main section -->
  <main>
    <h1>Dashboard</h1>
    <!-- <div class="date">
      <input type="date" />
    </div> -->
    <div class="card-container">
      <h3>Today's Data</h3>
      <!-- Sales -->
      <div class="sales">
        <span class="card-title"> Sales Overview</span>
        <div class="sales-activities">
          <div class="pending-order">
            <div class="pending-order">
              <span>Pending Order</span>
            </div>
            <span>Pending Order</span>
          </div>
          <div class="pending-order">
            <span>Pending Order</span>
          </div>
          <div class="pending-order">
            <span>Pending Order</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
