<head>
  <link rel="stylesheet" href="sidebar.css" />
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="logo">
        <img src="images/dashboard.svg" alt="Logo" />
        <span class="logo-title"> SalesProManager</span>
      </div>
      <ul class="menu-links">
        <li class="nav-links">
          <a href="">
            <img src="images/dashboard.svg" alt="" />
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-links">
          <a href="">
            <img src="images/inventory.svg" alt="" />
            <span>Assigned Orders</span>
            <!-- <img src="images/explore.svg" alt="" /> -->
          </a>
        </li>

        <li class="nav-links">
          <a href="">
            <img src="images/orders.svg" alt="" />
            <span>History</span>
            <!-- <img src="images/explore.svg" alt="" /> -->
          </a>
        </li>

        <li class="nav-links">
          <a href="">
            <img src="images/settings.svg" alt="" />
            <span>Settings</span>
          </a>
        </li>
      </ul>

      <div class="bottom-content">
        <li class="nav-links">
          <a href="">
            <img src="images/logout.svg" alt="" />
            <span>Logout </span>
          </a>
        </li>
      </div>
    </aside>
    <!-- Main section -->
    <main>
      <div class="header">
        <h1>Dashboard</h1>
        <div class="date">
          <input type="date" />
        </div>
      </div>

      <div class="card-container">
        <!-- <h3>Today's Data</h3> -->
        <!-- Sales -->
        <div class="sales-cards">
          <h3>Sales Overview</h3>
          <!-- <div class="sales-activities"> -->
          <!-- sales card row 1 -->
          <div class="sales-row">
            <div class="cards">
              <img
                src="images/icons/sales.svg"
                id="total-sales"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Total Sales:</span>
                <h3>4000</h3>
              </div>
            </div>
            <div class="cards">
              <img
                src="images/icons/profit.svg"
                id="total-profit"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Total Sales:</span>
                <h3>4000</h3>
              </div>
            </div>
          </div>

          <!-- sales card row 1 -->
          <div class="sales-row">
            <div class="cards">
              <img
                src="images/icons/delivery.svg"
                id="total-sales"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Total Sales:</span>
                <h3>4000</h3>
              </div>
            </div>
            <div class="cards">
              <img
                src="images/icons/truck.svg"
                id="total-delivery"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Total Sales:</span>
                <h3>4000</h3>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>

        <!-- Orders Overview -->
        <div class="order-overview">
          <h3>Orders-overview</h3>
          <div class="order-row">
            <div class="cards">
              <img
                src="images/icons/sales.svg"
                id="total-sales"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Total Sales:</span>
                <h3>4000</h3>
              </div>
            </div>
            <div class="cards">
              <img
                src="images/icons/profit.svg"
                id="total-profit"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Total Sales:</span>
                <h3>4000</h3>
              </div>
            </div>
          </div>

          <!-- sales card row 1 -->
          <div class="order-row">
            <div class="cards">
              <img
                src="images/icons/delivery.svg"
                id="total-sales"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Pending Orders:</span>
                <h3>4000</h3>
              </div>
            </div>
            <div class="cards">
              <img
                src="images/icons/truck.svg"
                id="total-delivery"
                class="card-logo"
                alt=""
              />
              <div class="cards-details">
                <span class="card-title">Total Sales:</span>
                <h3>4000</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- No of users -->
        <!-- Top sales tables? -->
      </div>
    </main>
    <!-- Righst section
    <div class="right">
      <h1>right</h1>
    </div> -->
  </div>
</body>
