/* CSS for form styling */
form {
  max-width: 600px; /* Adjusted for iframe width */
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for better visibility */
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333; /* Text color */
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff; /* White background */
}

select {
  appearance: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Blue theme color for submit button */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #28a745; /* Green theme color for submit button */
  color: #fff; /* Text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* Custom file input style */
